/*for clock and thermometer*/
section{
  font-family: 'Spectral', serif;
  display: flex;
  justify-content: space-between;
  border: 5px solid grey;
  background-color: #D28320;
}

div{
  color: #0093B2;
}

h1{
  display: block;
}

.selected_tab{
  color: #5FE3FF;
  font-weight: bolder;
}

/*for TAs table*/
input,li{
  font-size: 20px;
}
li{
  cursor: pointer;
}

.temp{
  display: flex;
  justify-content: space-between;
}

.city{
  display: flex;
  justify-content: space-between;
}
